html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  font-family: $base-fonts;
  color: #212121;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2;

  background-color:#efefef;


  &.no-scroll {
    overflow: hidden;
  }

  &.show-sidebar {
    overflow: hidden;
  }

}

footer {
  margin-top: auto;
}

.link {
  color: #5bc0de;
  
  &:hover {
    text-decoration: underline;
  }
}

.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;

  @include mobile {
    font-size: 34px;
  }
}
