.tick-mark {
  position: relative;
  background-color: #2E7D32;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  padding: 14px;
  border: 20px solid #2E7D32;
}

.tick-mark::before {
  position: absolute;
  left: 0;
  top: 40%;
  height: 60%;
  width: 6px;
  background-color: #fff;
  content: "";
  transform: translateX(12px) rotate(-45deg);
  transform-origin: left bottom;
}

.tick-mark::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 6px;
  width: 100%;
  background-color: #fff;
  content: "";
  transform: translateX(12px) rotate(-45deg);
  transform-origin: left bottom;
}